extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	include blocks/first-screen
	include blocks/schedule
	include blocks/event
	include blocks/advantages
	include blocks/news
	include blocks/about
	include blocks/payment
