extends layouts/default

block vars
	-
		const page = {
		title: 'index.html'
		};




block main
	.purchase
		.container.purchase__container
			+breadcrumbs([{href: '#', text: 'Главная'}, {href: '#', text: 'Купить билет'}], 'purchase__breadcrumbs')
			.purchase__title купить билет
			.purchase__filter
				.input-date
					input(type='text', name='date', placeholder='DD / mm / yyyy')
				+select([{value: '1', text: 'премьер-лига'},
					{value: '2', text: 'чемпионат мира'},
					{value: '3', text: 'чемпионат мира'},
					{value: '4', text: 'премьер-лига'},
					{value: '5', text: 'премьер-лига'},
					{value: '6', text: 'премьер-лига'},
					{value: '7', text: 'премьер-лига'},
					{value: '8', text: 'премьер-лига'},
					{value: '9', text: 'премьер-лига'}
					], 'тип события:', 'выберите тип события')
			.schedule
				.flex.flex--2
					.flex-item
						.schedule-item
							.schedule-item__bg
								img(src='images/bg-schedule.jpg' alt='')
							.schedule-item__content
								.schedule-item__match ТИНЬКОФФ российская премьер-лига
								.schedule-item__place
									p 17 октября
									p 19:00
									p “Открытие арена”
								.schedule-item__team
									.schedule-item__team-item
										.schedule-item__team-item-pic
											img(src='images/schedule/team-1.png' alt='')
										p спартак
									p vs.
									.schedule-item__team-item
										.schedule-item__team-item-pic
											img(src='images/schedule/team-2.png' alt='')
										p ФК химки
								+button('Купить билет', 'schedule-item__button')
					.flex-item
						.schedule-item
							.schedule-item__bg
								img(src='images/bg-schedule.jpg' alt='')
							.schedule-item__content
								.schedule-item__match ТИНЬКОФФ российская премьер-лига
								.schedule-item__place
									p 17 октября
									p 19:00
									p “Открытие арена”
								.schedule-item__team
									.schedule-item__team-item
										.schedule-item__team-item-pic
											img(src='images/schedule/team-1.png' alt='')
										p спартак
									p vs.
									.schedule-item__team-item
										.schedule-item__team-item-pic
											img(src='images/schedule/team-2.png' alt='')
										p ФК химки
								+button('Купить билет', 'schedule-item__button')
					.flex-item
						.schedule-item
							.schedule-item__bg
								img(src='images/bg-schedule.jpg' alt='')
							.schedule-item__content
								.schedule-item__match ТИНЬКОФФ российская премьер-лига
								.schedule-item__place
									p 17 октября
									p 19:00
									p “Открытие арена”
								.schedule-item__team
									.schedule-item__team-item
										.schedule-item__team-item-pic
											img(src='images/schedule/team-1.png' alt='')
										p спартак
									p vs.
									.schedule-item__team-item
										.schedule-item__team-item-pic
											img(src='images/schedule/team-2.png' alt='')
										p ФК химки
								+button('Купить билет', 'schedule-item__button')
					.flex-item
						.schedule-item
							.schedule-item__bg
								img(src='images/bg-schedule.jpg' alt='')
							.schedule-item__content
								.schedule-item__match ТИНЬКОФФ российская премьер-лига
								.schedule-item__place
									p 17 октября
									p 19:00
									p “Открытие арена”
								.schedule-item__team
									.schedule-item__team-item
										.schedule-item__team-item-pic
											img(src='images/schedule/team-1.png' alt='')
										p спартак
									p vs.
									.schedule-item__team-item
										.schedule-item__team-item-pic
											img(src='images/schedule/team-2.png' alt='')
										p ФК химки
								+button('Купить билет', 'schedule-item__button')
					.flex-item
						.schedule-item
							.schedule-item__bg
								img(src='images/bg-schedule.jpg' alt='')
							.schedule-item__content
								.schedule-item__match ТИНЬКОФФ российская премьер-лига
								.schedule-item__place
									p 17 октября
									p 19:00
									p “Открытие арена”
								.schedule-item__team
									.schedule-item__team-item
										.schedule-item__team-item-pic
											img(src='images/schedule/team-1.png' alt='')
										p спартак
									p vs.
									.schedule-item__team-item
										.schedule-item__team-item-pic
											img(src='images/schedule/team-2.png' alt='')
										p ФК химки
								+button('Купить билет', 'schedule-item__button')
					.flex-item
						.schedule-item
							.schedule-item__bg
								img(src='images/bg-schedule.jpg' alt='')
							.schedule-item__content
								.schedule-item__match ТИНЬКОФФ российская премьер-лига
								.schedule-item__place
									p 17 октября
									p 19:00
									p “Открытие арена”
								.schedule-item__team
									.schedule-item__team-item
										.schedule-item__team-item-pic
											img(src='images/schedule/team-1.png' alt='')
										p спартак
									p vs.
									.schedule-item__team-item
										.schedule-item__team-item-pic
											img(src='images/schedule/team-2.png' alt='')
										p ФК химки
								+button('Купить билет', 'schedule-item__button')
		include blocks/payment