// A1
.purchase-sector
	.purchase-sector__title Сектор A1
	.purchase-sector__text Чтобы купить билет выберите места <br> и нажмите ОФОРМИТЬ ЗАКАЗ
	ul.purchase-sector__status
		li - Свободно
		li - Занято
		li - Выбрано
	.sector
		.content
			.row
				.place(data-row='-1') 25
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				.place.skip  
				.place.skip  
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				.place.skip  
				.place.skip  
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				#31.place.booked(data-row='0') 31
				#32.place.booked(data-row='0') 32
				#33.place.booked(data-row='0') 33
				#34.place.booked(data-row='0') 34
				#35.place.booked(data-row='0') 35
				#36.place.booked(data-row='0') 36
				#37.place.booked(data-row='0') 37
				#38.place.booked(data-row='0') 38
				#39.place.booked(data-row='0') 39
			.row
				.place(data-row='-1') 24
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				.place.skip  
				.place.skip  
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				.place.skip  
				.place.skip  
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				#31.place.booked(data-row='0') 31
				#32.place.booked(data-row='0') 32
				#33.place.booked(data-row='0') 33
				#34.place.booked(data-row='0') 34
				#35.place.booked(data-row='0') 35
				#36.place.booked(data-row='0') 36
				#37.place.booked(data-row='0') 37
				#38.place.booked(data-row='0') 38
				.place.skip  
			.row
				.place(data-row='-1') 23
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				.place.skip  
				.place.skip  
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				.place.skip  
				.place.skip  
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				#31.place.booked(data-row='0') 31
				#32.place.booked(data-row='0') 32
				#33.place.booked(data-row='0') 33
				#34.place.booked(data-row='0') 34
				#35.place.booked(data-row='0') 35
				#36.place.booked(data-row='0') 36
				#37.place.booked(data-row='0') 37
				#38.place.booked(data-row='0') 38
				.place.skip  
			.row
				.place(data-row='-1') 22
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				.place.skip  
				.place.skip  
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				.place.skip  
				.place.skip  
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				#31.place.booked(data-row='0') 31
				#32.place.booked(data-row='0') 32
				#33.place.booked(data-row='0') 33
				#34.place.booked(data-row='0') 34
				#35.place.booked(data-row='0') 35
				#36.place.booked(data-row='0') 36
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 21
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				.place.skip  
				.place.skip  
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				.place.skip  
				.place.skip  
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				#31.place.booked(data-row='0') 31
				#32.place.booked(data-row='0') 32
				#33.place.booked(data-row='0') 33
				#34.place.booked(data-row='0') 34
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 20
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				.place.skip  
				.place.skip  
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				.place.available(data-id='5199917' data-sid='1' data-source='a1' data-hsort='0' data-row='20' data-place='13' data-price='3000') 13
				.place.available(data-id='5199924' data-sid='1' data-source='a1' data-hsort='0' data-row='20' data-place='14' data-price='3000') 14
				.place.available(data-id='5199923' data-sid='1' data-source='a1' data-hsort='0' data-row='20' data-place='15' data-price='3000') 15
				.place.available(data-id='5199922' data-sid='1' data-source='a1' data-hsort='0' data-row='20' data-place='16' data-price='3000') 16
				.place.available(data-id='5199921' data-sid='1' data-source='a1' data-hsort='0' data-row='20' data-place='17' data-price='3000') 17
				.place.available(data-id='5199920' data-sid='1' data-source='a1' data-hsort='0' data-row='20' data-place='18' data-price='3000') 18
				.place.available(data-id='5199919' data-sid='1' data-source='a1' data-hsort='0' data-row='20' data-place='19' data-price='3000') 19
				.place.available(data-id='5199918' data-sid='1' data-source='a1' data-hsort='0' data-row='20' data-place='20' data-price='3000') 20
				.place.skip  
				.place.skip  
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				#31.place.booked(data-row='0') 31
				#32.place.booked(data-row='0') 32
				#33.place.booked(data-row='0') 33
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 19
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				.place.skip  
				.place.skip  
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				#31.place.booked(data-row='0') 31
				#32.place.booked(data-row='0') 32
				#33.place.booked(data-row='0') 33
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 18
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				.place.skip  
				.place.skip  
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				#31.place.booked(data-row='0') 31
				#32.place.booked(data-row='0') 32
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 17
				.place.skip  
				.place.skip  
				.place.available(data-id='5199945' data-sid='1' data-source='a1' data-hsort='0' data-row='17' data-place='1' data-price='3000') 1
				.place.available(data-id='5199947' data-sid='1' data-source='a1' data-hsort='0' data-row='17' data-place='2' data-price='3000') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				.place.skip  
				.place.skip  
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				.place.available(data-id='5199916' data-sid='1' data-source='a1' data-hsort='0' data-row='17' data-place='13' data-price='3000') 13
				.place.available(data-id='5199915' data-sid='1' data-source='a1' data-hsort='0' data-row='17' data-place='14' data-price='3000') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 16
				.place.skip  
				.place.skip  
				.place.available(data-id='5199948' data-sid='1' data-source='a1' data-hsort='0' data-row='16' data-place='1' data-price='3000') 1
				.place.available(data-id='5199946' data-sid='1' data-source='a1' data-hsort='0' data-row='16' data-place='2' data-price='3000') 2
				.place.available(data-id='5199949' data-sid='1' data-source='a1' data-hsort='0' data-row='16' data-place='3' data-price='3000') 3
				.place.available(data-id='5199950' data-sid='1' data-source='a1' data-hsort='0' data-row='16' data-place='4' data-price='3000') 4
				.place.available(data-id='5199951' data-sid='1' data-source='a1' data-hsort='0' data-row='16' data-place='5' data-price='3000') 5
				.place.skip  
				.place.skip  
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 15
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				.place.skip  
				.place.skip  
				.place.available(data-id='5199952' data-sid='1' data-source='a1' data-hsort='0' data-row='15' data-place='7' data-price='3000') 7
				.place.available(data-id='5199953' data-sid='1' data-source='a1' data-hsort='0' data-row='15' data-place='8' data-price='3000') 8
				.place.available(data-id='5199955' data-sid='1' data-source='a1' data-hsort='0' data-row='15' data-place='9' data-price='3000') 9
				.place.available(data-id='5199954' data-sid='1' data-source='a1' data-hsort='0' data-row='15' data-place='10' data-price='3000') 10
				.place.available(data-id='5199956' data-sid='1' data-source='a1' data-hsort='0' data-row='15' data-place='11' data-price='3000') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 14
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				.place.skip  
				.place.skip  
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 13
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				.place.skip  
				.place.skip  
				.place.available(data-id='5199944' data-sid='1' data-source='a1' data-hsort='0' data-row='13' data-place='6' data-price='3000') 6
				.place.available(data-id='5199943' data-sid='1' data-source='a1' data-hsort='0' data-row='13' data-place='7' data-price='3000') 7
				.place.available(data-id='5199942' data-sid='1' data-source='a1' data-hsort='0' data-row='13' data-place='8' data-price='3000') 8
				.place.available(data-id='5199941' data-sid='1' data-source='a1' data-hsort='0' data-row='13' data-place='9' data-price='3000') 9
				.place.available(data-id='5199940' data-sid='1' data-source='a1' data-hsort='0' data-row='13' data-place='10' data-price='3000') 10
				.place.available(data-id='5199939' data-sid='1' data-source='a1' data-hsort='0' data-row='13' data-place='11' data-price='3000') 11
				.place.available(data-id='5199938' data-sid='1' data-source='a1' data-hsort='0' data-row='13' data-place='12' data-price='3000') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 12
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				.place.skip  
				.place.skip  
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 11
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				.place.skip  
				.place.skip  
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				.place.available(data-id='5199937' data-sid='1' data-source='a1' data-hsort='0' data-row='11' data-place='10' data-price='3000') 10
				.place.available(data-id='5199936' data-sid='1' data-source='a1' data-hsort='0' data-row='11' data-place='11' data-price='3000') 11
				.place.available(data-id='5199935' data-sid='1' data-source='a1' data-hsort='0' data-row='11' data-place='12' data-price='3000') 12
				.place.available(data-id='5199934' data-sid='1' data-source='a1' data-hsort='0' data-row='11' data-place='13' data-price='3000') 13
				.place.available(data-id='5199933' data-sid='1' data-source='a1' data-hsort='0' data-row='11' data-place='14' data-price='3000') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 10
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				.place.skip  
				.place.skip  
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 9
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				.place.skip  
				.place.skip  
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 8
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				.place.skip  
				.place.skip  
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 7
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				.place.skip  
				.place.skip  
				.place.available(data-id='5199932' data-sid='1' data-source='a1' data-hsort='0' data-row='7' data-place='3' data-price='3000') 3
				.place.available(data-id='5199931' data-sid='1' data-source='a1' data-hsort='0' data-row='7' data-place='4' data-price='3000') 4
				.place.available(data-id='5199930' data-sid='1' data-source='a1' data-hsort='0' data-row='7' data-place='5' data-price='3000') 5
				.place.available(data-id='5199929' data-sid='1' data-source='a1' data-hsort='0' data-row='7' data-place='6' data-price='3000') 6
				.place.available(data-id='5199928' data-sid='1' data-source='a1' data-hsort='0' data-row='7' data-place='7' data-price='3000') 7
				.place.available(data-id='5199927' data-sid='1' data-source='a1' data-hsort='0' data-row='7' data-place='8' data-price='3000') 8
				.place.available(data-id='5199926' data-sid='1' data-source='a1' data-hsort='0' data-row='7' data-place='9' data-price='3000') 9
				#10.place.booked(data-row='0') 10
				.place.available(data-id='5199925' data-sid='1' data-source='a1' data-hsort='0' data-row='7' data-place='11' data-price='3000') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 6
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				.place.skip  
				.place.skip  
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 5
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				.place.skip  
				.place.skip  
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 4
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				.place.skip  
				.place.skip  
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 3
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 2
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 1
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.field ПОЛЕ