// A2
.purchase-sector.a2
	.purchase-sector__title Сектор A2
	.purchase-sector__text Чтобы купить билет выберите места <br> и нажмите ОФОРМИТЬ ЗАКАЗ
	ul.purchase-sector__status
		li - Свободно
		li - Занято
		li - Выбрано
	.sector
		.content
			.row
				.place(data-row='-1') 25
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 24
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 23
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 22
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 21
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 20
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				.place.available(data-id='5257636' data-sid='2' data-source='a2' data-hsort='0' data-row='20' data-place='5' data-price='3500') 5
				.place.available(data-id='5257635' data-sid='2' data-source='a2' data-hsort='0' data-row='20' data-place='6' data-price='3500') 6
				.place.available(data-id='5257637' data-sid='2' data-source='a2' data-hsort='0' data-row='20' data-place='7' data-price='3500') 7
				.place.available(data-id='5257638' data-sid='2' data-source='a2' data-hsort='0' data-row='20' data-place='8' data-price='3500') 8
				.place.available(data-id='5257639' data-sid='2' data-source='a2' data-hsort='0' data-row='20' data-place='9' data-price='3500') 9
				.place.available(data-id='5257641' data-sid='2' data-source='a2' data-hsort='0' data-row='20' data-place='10' data-price='3500') 10
				.place.available(data-id='5257640' data-sid='2' data-source='a2' data-hsort='0' data-row='20' data-place='11' data-price='3500') 11
				.place.available(data-id='5257642' data-sid='2' data-source='a2' data-hsort='0' data-row='20' data-place='12' data-price='3500') 12
				.place.available(data-id='5257643' data-sid='2' data-source='a2' data-hsort='0' data-row='20' data-place='13' data-price='3500') 13
				.place.available(data-id='5257650' data-sid='2' data-source='a2' data-hsort='0' data-row='20' data-place='14' data-price='3500') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 19
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 18
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				.place.available(data-id='5257611' data-sid='2' data-source='a2' data-hsort='0' data-row='18' data-place='3' data-price='3500') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 17
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				.place.available(data-id='5257623' data-sid='2' data-source='a2' data-hsort='0' data-row='17' data-place='6' data-price='3500') 6
				.place.available(data-id='5257622' data-sid='2' data-source='a2' data-hsort='0' data-row='17' data-place='7' data-price='3500') 7
				.place.available(data-id='5257621' data-sid='2' data-source='a2' data-hsort='0' data-row='17' data-place='8' data-price='3500') 8
				.place.available(data-id='5257620' data-sid='2' data-source='a2' data-hsort='0' data-row='17' data-place='9' data-price='3500') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 16
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				.place.available(data-id='5257619' data-sid='2' data-source='a2' data-hsort='0' data-row='16' data-place='9' data-price='3500') 9
				.place.available(data-id='5257618' data-sid='2' data-source='a2' data-hsort='0' data-row='16' data-place='10' data-price='3500') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 15
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				.place.available(data-id='5257612' data-sid='2' data-source='a2' data-hsort='0' data-row='15' data-place='3' data-price='3500') 3
				.place.available(data-id='5257613' data-sid='2' data-source='a2' data-hsort='0' data-row='15' data-place='4' data-price='3500') 4
				.place.available(data-id='5257607' data-sid='2' data-source='a2' data-hsort='0' data-row='15' data-place='5' data-price='3500') 5
				.place.available(data-id='5257614' data-sid='2' data-source='a2' data-hsort='0' data-row='15' data-place='6' data-price='3500') 6
				.place.available(data-id='5257606' data-sid='2' data-source='a2' data-hsort='0' data-row='15' data-place='7' data-price='3500') 7
				.place.available(data-id='5257615' data-sid='2' data-source='a2' data-hsort='0' data-row='15' data-place='8' data-price='3500') 8
				.place.available(data-id='5257605' data-sid='2' data-source='a2' data-hsort='0' data-row='15' data-place='9' data-price='3500') 9
				.place.available(data-id='5257617' data-sid='2' data-source='a2' data-hsort='0' data-row='15' data-place='10' data-price='3500') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 14
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 13
				.place.available(data-id='5257629' data-sid='2' data-source='a2' data-hsort='0' data-row='13' data-place='1' data-price='3500') 1
				.place.available(data-id='5257628' data-sid='2' data-source='a2' data-hsort='0' data-row='13' data-place='2' data-price='3500') 2
				.place.available(data-id='5257627' data-sid='2' data-source='a2' data-hsort='0' data-row='13' data-place='3' data-price='3500') 3
				.place.available(data-id='5257630' data-sid='2' data-source='a2' data-hsort='0' data-row='13' data-place='4' data-price='3500') 4
				.place.available(data-id='5257631' data-sid='2' data-source='a2' data-hsort='0' data-row='13' data-place='5' data-price='3500') 5
				.place.available(data-id='5257632' data-sid='2' data-source='a2' data-hsort='0' data-row='13' data-place='6' data-price='3500') 6
				.place.available(data-id='5257634' data-sid='2' data-source='a2' data-hsort='0' data-row='13' data-place='7' data-price='3500') 7
				.place.available(data-id='5257633' data-sid='2' data-source='a2' data-hsort='0' data-row='13' data-place='8' data-price='3500') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 12
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 11
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				.place.available(data-id='5257649' data-sid='2' data-source='a2' data-hsort='0' data-row='11' data-place='8' data-price='3500') 8
				.place.available(data-id='5257648' data-sid='2' data-source='a2' data-hsort='0' data-row='11' data-place='9' data-price='3500') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				.place.available(data-id='5257610' data-sid='2' data-source='a2' data-hsort='0' data-row='11' data-place='13' data-price='3500') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.available(data-id='5257647' data-sid='2' data-source='a2' data-hsort='0' data-row='11' data-place='16' data-price='3500') 16
				.place.available(data-id='5257626' data-sid='2' data-source='a2' data-hsort='0' data-row='11' data-place='17' data-price='3500') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 10
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 9
				#1.place.booked(data-row='0') 1
				.place.available(data-id='5257616' data-sid='2' data-source='a2' data-hsort='0' data-row='9' data-place='2' data-price='3500') 2
				.place.available(data-id='5257608' data-sid='2' data-source='a2' data-hsort='0' data-row='9' data-place='3' data-price='3500') 3
				.place.available(data-id='5257609' data-sid='2' data-source='a2' data-hsort='0' data-row='9' data-place='4' data-price='3500') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 8
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 7
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				.place.available(data-id='5257646' data-sid='2' data-source='a2' data-hsort='0' data-row='7' data-place='7' data-price='3500') 7
				.place.available(data-id='5257651' data-sid='2' data-source='a2' data-hsort='0' data-row='7' data-place='8' data-price='3500') 8
				.place.available(data-id='5257644' data-sid='2' data-source='a2' data-hsort='0' data-row='7' data-place='9' data-price='3500') 9
				.place.available(data-id='5257624' data-sid='2' data-source='a2' data-hsort='0' data-row='7' data-place='10' data-price='3500') 10
				.place.available(data-id='5257645' data-sid='2' data-source='a2' data-hsort='0' data-row='7' data-place='11' data-price='3500') 11
				.place.available(data-id='5257625' data-sid='2' data-source='a2' data-hsort='0' data-row='7' data-place='12' data-price='3500') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 6
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 5
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 4
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 3
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 2
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 1
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.field ПОЛЕ
