// A3
.purchase-sector
	.purchase-sector__title Сектор A3
	.purchase-sector__text Чтобы купить билет выберите места <br> и нажмите ОФОРМИТЬ ЗАКАЗ
	ul.purchase-sector__status
		li - Свободно
		li - Занято
		li - Выбрано
	.sector
		.content
			.row
				.place(data-row='-1') 25
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 24
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 23
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 22
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 21
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				.place.available(data-id='5200032' data-sid='3' data-source='a3' data-hsort='0' data-row='21' data-place='11' data-price='5500') 11
				.place.available(data-id='5200049' data-sid='3' data-source='a3' data-hsort='0' data-row='21' data-place='12' data-price='5500') 12
				.place.available(data-id='5200031' data-sid='3' data-source='a3' data-hsort='0' data-row='21' data-place='13' data-price='5500') 13
				.place.available(data-id='5200008' data-sid='3' data-source='a3' data-hsort='0' data-row='21' data-place='14' data-price='5500') 14
				.place.available(data-id='5200009' data-sid='3' data-source='a3' data-hsort='0' data-row='21' data-place='15' data-price='5500') 15
				.place.available(data-id='5200030' data-sid='3' data-source='a3' data-hsort='0' data-row='21' data-place='16' data-price='5500') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 20
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 19
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 18
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				.place.available(data-id='5200042' data-sid='3' data-source='a3' data-hsort='0' data-row='18' data-place='4' data-price='5500') 4
				.place.available(data-id='5200041' data-sid='3' data-source='a3' data-hsort='0' data-row='18' data-place='5' data-price='5500') 5
				.place.available(data-id='5200040' data-sid='3' data-source='a3' data-hsort='0' data-row='18' data-place='6' data-price='5500') 6
				.place.available(data-id='5200039' data-sid='3' data-source='a3' data-hsort='0' data-row='18' data-place='7' data-price='5500') 7
				.place.available(data-id='5200037' data-sid='3' data-source='a3' data-hsort='0' data-row='18' data-place='8' data-price='5500') 8
				.place.available(data-id='5200038' data-sid='3' data-source='a3' data-hsort='0' data-row='18' data-place='9' data-price='5500') 9
				.place.available(data-id='5200036' data-sid='3' data-source='a3' data-hsort='0' data-row='18' data-place='10' data-price='5500') 10
				.place.available(data-id='5200035' data-sid='3' data-source='a3' data-hsort='0' data-row='18' data-place='11' data-price='5500') 11
				.place.available(data-id='5200034' data-sid='3' data-source='a3' data-hsort='0' data-row='18' data-place='12' data-price='5500') 12
				.place.available(data-id='5200033' data-sid='3' data-source='a3' data-hsort='0' data-row='18' data-place='13' data-price='5500') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 17
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 16
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 15
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 14
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				.place.available(data-id='5200016' data-sid='3' data-source='a3' data-hsort='0' data-row='14' data-place='8' data-price='5500') 8
				.place.available(data-id='5200046' data-sid='3' data-source='a3' data-hsort='0' data-row='14' data-place='9' data-price='5500') 9
				.place.available(data-id='5200047' data-sid='3' data-source='a3' data-hsort='0' data-row='14' data-place='10' data-price='5500') 10
				.place.available(data-id='5200048' data-sid='3' data-source='a3' data-hsort='0' data-row='14' data-place='11' data-price='5500') 11
				.place.available(data-id='5200015' data-sid='3' data-source='a3' data-hsort='0' data-row='14' data-place='12' data-price='5500') 12
				.place.available(data-id='5200010' data-sid='3' data-source='a3' data-hsort='0' data-row='14' data-place='13' data-price='5500') 13
				.place.available(data-id='5200014' data-sid='3' data-source='a3' data-hsort='0' data-row='14' data-place='14' data-price='5500') 14
				.place.available(data-id='5200013' data-sid='3' data-source='a3' data-hsort='0' data-row='14' data-place='15' data-price='5500') 15
				.place.available(data-id='5200050' data-sid='3' data-source='a3' data-hsort='0' data-row='14' data-place='16' data-price='5500') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 13
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 12
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				.place.available(data-id='5200045' data-sid='3' data-source='a3' data-hsort='0' data-row='12' data-place='3' data-price='5500') 3
				.place.available(data-id='5200044' data-sid='3' data-source='a3' data-hsort='0' data-row='12' data-place='4' data-price='5500') 4
				.place.available(data-id='5200043' data-sid='3' data-source='a3' data-hsort='0' data-row='12' data-place='5' data-price='5500') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 11
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 10
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 9
				.place.available(data-id='5200029' data-sid='3' data-source='a3' data-hsort='0' data-row='9' data-place='1' data-price='5500') 1
				.place.available(data-id='5200028' data-sid='3' data-source='a3' data-hsort='0' data-row='9' data-place='2' data-price='5500') 2
				.place.available(data-id='5200027' data-sid='3' data-source='a3' data-hsort='0' data-row='9' data-place='3' data-price='5500') 3
				.place.available(data-id='5200026' data-sid='3' data-source='a3' data-hsort='0' data-row='9' data-place='4' data-price='5500') 4
				.place.available(data-id='5200023' data-sid='3' data-source='a3' data-hsort='0' data-row='9' data-place='5' data-price='5500') 5
				.place.available(data-id='5200024' data-sid='3' data-source='a3' data-hsort='0' data-row='9' data-place='6' data-price='5500') 6
				.place.available(data-id='5200025' data-sid='3' data-source='a3' data-hsort='0' data-row='9' data-place='7' data-price='5500') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 8
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 7
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				.place.available(data-id='5200051' data-sid='3' data-source='a3' data-hsort='0' data-row='7' data-place='6' data-price='5500') 6
				.place.available(data-id='5200052' data-sid='3' data-source='a3' data-hsort='0' data-row='7' data-place='7' data-price='5500') 7
				.place.available(data-id='5200012' data-sid='3' data-source='a3' data-hsort='0' data-row='7' data-place='8' data-price='5500') 8
				.place.available(data-id='5200053' data-sid='3' data-source='a3' data-hsort='0' data-row='7' data-place='9' data-price='5500') 9
				.place.available(data-id='5200011' data-sid='3' data-source='a3' data-hsort='0' data-row='7' data-place='10' data-price='5500') 10
				.place.available(data-id='5200007' data-sid='3' data-source='a3' data-hsort='0' data-row='7' data-place='11' data-price='5500') 11
				.place.available(data-id='5200006' data-sid='3' data-source='a3' data-hsort='0' data-row='7' data-place='12' data-price='5500') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 6
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				.place.available(data-id='5200020' data-sid='3' data-source='a3' data-hsort='0' data-row='6' data-place='12' data-price='5500') 12
				.place.available(data-id='5200021' data-sid='3' data-source='a3' data-hsort='0' data-row='6' data-place='13' data-price='5500') 13
				.place.available(data-id='5200022' data-sid='3' data-source='a3' data-hsort='0' data-row='6' data-place='14' data-price='5500') 14
				.place.available(data-id='5200019' data-sid='3' data-source='a3' data-hsort='0' data-row='6' data-place='15' data-price='5500') 15
				.place.available(data-id='5200018' data-sid='3' data-source='a3' data-hsort='0' data-row='6' data-place='16' data-price='5500') 16
				.place.available(data-id='5200017' data-sid='3' data-source='a3' data-hsort='0' data-row='6' data-place='17' data-price='5500') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 5
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 4
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 3
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 2
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.row
				.place(data-row='-1') 1
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
			.field ПОЛЕ
