// A5 PLATINUM
.purchase-sector
	.purchase-sector__title Сектор A5 PLATINUM
	.purchase-sector__text
		| Чтобы купить билет выберите места
		br
		|  и нажмите ОФОРМИТЬ ЗАКАЗ
	ul.purchase-sector__status
		li - Свободно
		li - Занято
		li - Выбрано
	.sector
		.content
			.row
				.place(data-row='-1') 25
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
			.row
				.place(data-row='-1') 24
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
			.row
				.place(data-row='-1') 23
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
			.row
				.place(data-row='-1') 22
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
			.row
				.place(data-row='-1') 21
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
			.row
				.place(data-row='-1') 20
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
			.row
				.place(data-row='-1') 19
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
			.row
				.place(data-row='-1') 18
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
