// B103
.purchase-sector.b103
	.purchase-sector__title Сектор B103
	.purchase-sector__text
		| Чтобы купить билет выберите места
		br
		|  и нажмите ОФОРМИТЬ ЗАКАЗ
	ul.purchase-sector__status
		li - Свободно
		li - Занято
		li - Выбрано
	.sector
		.content
			.row
				.place(data-row='-1') 27
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				#31.place.booked(data-row='0') 31
				#32.place.booked(data-row='0') 32
				#33.place.booked(data-row='0') 33
			.row
				.place(data-row='-1') 26
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 25
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 24
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 23
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 22
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				.place.available(data-id='5192913' data-sid='121' data-source='d121' data-hsort='0' data-row='22' data-place='19' data-price='2000') 19
				.place.available(data-id='5192914' data-sid='121' data-source='d121' data-hsort='0' data-row='22' data-place='20' data-price='2000') 20
				.place.available(data-id='5192915' data-sid='121' data-source='d121' data-hsort='0' data-row='22' data-place='21' data-price='2000') 21
				.place.available(data-id='5192916' data-sid='121' data-source='d121' data-hsort='0' data-row='22' data-place='22' data-price='2000') 22
				.place.available(data-id='5192917' data-sid='121' data-source='d121' data-hsort='0' data-row='22' data-place='23' data-price='2000') 23
				.place.available(data-id='5192918' data-sid='121' data-source='d121' data-hsort='0' data-row='22' data-place='24' data-price='2000') 24
				.place.available(data-id='5192919' data-sid='121' data-source='d121' data-hsort='0' data-row='22' data-place='25' data-price='2000') 25
				.place.available(data-id='5192920' data-sid='121' data-source='d121' data-hsort='0' data-row='22' data-place='26' data-price='2000') 26
				.place.available(data-id='5192921' data-sid='121' data-source='d121' data-hsort='0' data-row='22' data-place='27' data-price='2000') 27
				.place.available(data-id='5192922' data-sid='121' data-source='d121' data-hsort='0' data-row='22' data-place='28' data-price='2000') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 21
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				.place.available(data-id='5192949' data-sid='121' data-source='d121' data-hsort='0' data-row='21' data-place='3' data-price='2000') 3
				.place.available(data-id='5192950' data-sid='121' data-source='d121' data-hsort='0' data-row='21' data-place='4' data-price='2000') 4
				.place.available(data-id='5192951' data-sid='121' data-source='d121' data-hsort='0' data-row='21' data-place='5' data-price='2000') 5
				.place.available(data-id='5192952' data-sid='121' data-source='d121' data-hsort='0' data-row='21' data-place='6' data-price='2000') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 20
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 19
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				.place.available(data-id='5192923' data-sid='121' data-source='d121' data-hsort='0' data-row='19' data-place='9' data-price='2000') 9
				.place.available(data-id='5192924' data-sid='121' data-source='d121' data-hsort='0' data-row='19' data-place='10' data-price='2000') 10
				.place.available(data-id='5192925' data-sid='121' data-source='d121' data-hsort='0' data-row='19' data-place='11' data-price='2000') 11
				.place.available(data-id='5192926' data-sid='121' data-source='d121' data-hsort='0' data-row='19' data-place='12' data-price='2000') 12
				.place.available(data-id='5192927' data-sid='121' data-source='d121' data-hsort='0' data-row='19' data-place='13' data-price='2000') 13
				.place.available(data-id='5192928' data-sid='121' data-source='d121' data-hsort='0' data-row='19' data-place='14' data-price='2000') 14
				.place.available(data-id='5192929' data-sid='121' data-source='d121' data-hsort='0' data-row='19' data-place='15' data-price='2000') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				.place.available(data-id='5192955' data-sid='121' data-source='d121' data-hsort='0' data-row='19' data-place='17' data-price='2000') 17
				.place.available(data-id='5192954' data-sid='121' data-source='d121' data-hsort='0' data-row='19' data-place='18' data-price='2000') 18
				.place.available(data-id='5192953' data-sid='121' data-source='d121' data-hsort='0' data-row='19' data-place='19' data-price='2000') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 18
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 17
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 16
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				.place.available(data-id='5192873' data-sid='121' data-source='d121' data-hsort='0' data-row='16' data-place='5' data-price='2000') 5
				.place.available(data-id='5192874' data-sid='121' data-source='d121' data-hsort='0' data-row='16' data-place='6' data-price='2000') 6
				.place.available(data-id='5192875' data-sid='121' data-source='d121' data-hsort='0' data-row='16' data-place='7' data-price='2000') 7
				.place.available(data-id='5192876' data-sid='121' data-source='d121' data-hsort='0' data-row='16' data-place='8' data-price='2000') 8
				.place.available(data-id='5192878' data-sid='121' data-source='d121' data-hsort='0' data-row='16' data-place='9' data-price='2000') 9
				.place.available(data-id='5192877' data-sid='121' data-source='d121' data-hsort='0' data-row='16' data-place='10' data-price='2000') 10
				.place.available(data-id='5192879' data-sid='121' data-source='d121' data-hsort='0' data-row='16' data-place='11' data-price='2000') 11
				.place.available(data-id='5192880' data-sid='121' data-source='d121' data-hsort='0' data-row='16' data-place='12' data-price='2000') 12
				.place.available(data-id='5192881' data-sid='121' data-source='d121' data-hsort='0' data-row='16' data-place='13' data-price='2000') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				.place.available(data-id='5192900' data-sid='121' data-source='d121' data-hsort='0' data-row='16' data-place='19' data-price='2000') 19
				#20.place.booked(data-row='0') 20
				.place.available(data-id='5192901' data-sid='121' data-source='d121' data-hsort='0' data-row='16' data-place='21' data-price='2000') 21
				.place.available(data-id='5192905' data-sid='121' data-source='d121' data-hsort='0' data-row='16' data-place='22' data-price='2000') 22
				.place.available(data-id='5192904' data-sid='121' data-source='d121' data-hsort='0' data-row='16' data-place='23' data-price='2000') 23
				.place.available(data-id='5192906' data-sid='121' data-source='d121' data-hsort='0' data-row='16' data-place='24' data-price='2000') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 15
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				.place.available(data-id='5192903' data-sid='121' data-source='d121' data-hsort='0' data-row='15' data-place='21' data-price='2000') 21
				.place.available(data-id='5192902' data-sid='121' data-source='d121' data-hsort='0' data-row='15' data-place='22' data-price='2000') 22
				.place.available(data-id='5192908' data-sid='121' data-source='d121' data-hsort='0' data-row='15' data-place='23' data-price='2000') 23
				.place.available(data-id='5192907' data-sid='121' data-source='d121' data-hsort='0' data-row='15' data-place='24' data-price='2000') 24
				.place.available(data-id='5192909' data-sid='121' data-source='d121' data-hsort='0' data-row='15' data-place='25' data-price='2000') 25
				.place.available(data-id='5192910' data-sid='121' data-source='d121' data-hsort='0' data-row='15' data-place='26' data-price='2000') 26
				.place.available(data-id='5192911' data-sid='121' data-source='d121' data-hsort='0' data-row='15' data-place='27' data-price='2000') 27
				.place.available(data-id='5192912' data-sid='121' data-source='d121' data-hsort='0' data-row='15' data-place='28' data-price='2000') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 14
				#1.place.booked(data-row='0') 1
				.place.available(data-id='5192898' data-sid='121' data-source='d121' data-hsort='0' data-row='14' data-place='2' data-price='2000') 2
				.place.available(data-id='5192897' data-sid='121' data-source='d121' data-hsort='0' data-row='14' data-place='3' data-price='2000') 3
				.place.available(data-id='5192899' data-sid='121' data-source='d121' data-hsort='0' data-row='14' data-place='4' data-price='2000') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 13
				.place.available(data-id='5192894' data-sid='121' data-source='d121' data-hsort='0' data-row='13' data-place='1' data-price='2000') 1
				.place.available(data-id='5192895' data-sid='121' data-source='d121' data-hsort='0' data-row='13' data-place='2' data-price='2000') 2
				.place.available(data-id='5192896' data-sid='121' data-source='d121' data-hsort='0' data-row='13' data-place='3' data-price='2000') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 12
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				.place.available(data-id='5192890' data-sid='121' data-source='d121' data-hsort='0' data-row='12' data-place='8' data-price='2000') 8
				.place.available(data-id='5192891' data-sid='121' data-source='d121' data-hsort='0' data-row='12' data-place='9' data-price='2000') 9
				.place.available(data-id='5192892' data-sid='121' data-source='d121' data-hsort='0' data-row='12' data-place='10' data-price='2000') 10
				.place.available(data-id='5192893' data-sid='121' data-source='d121' data-hsort='0' data-row='12' data-place='11' data-price='2000') 11
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				.place.skip  
			.row
				.place(data-row='-1') 11
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				.place.skip  
			.row
				.place(data-row='-1') 10
				.place.available(data-id='5192882' data-sid='121' data-source='d121' data-hsort='0' data-row='10' data-place='1' data-price='2000') 1
				.place.available(data-id='5192885' data-sid='121' data-source='d121' data-hsort='0' data-row='10' data-place='2' data-price='2000') 2
				.place.available(data-id='5192883' data-sid='121' data-source='d121' data-hsort='0' data-row='10' data-place='3' data-price='2000') 3
				.place.available(data-id='5192884' data-sid='121' data-source='d121' data-hsort='0' data-row='10' data-place='4' data-price='2000') 4
				.place.available(data-id='5192886' data-sid='121' data-source='d121' data-hsort='0' data-row='10' data-place='5' data-price='2000') 5
				.place.available(data-id='5192887' data-sid='121' data-source='d121' data-hsort='0' data-row='10' data-place='6' data-price='2000') 6
				.place.available(data-id='5192888' data-sid='121' data-source='d121' data-hsort='0' data-row='10' data-place='7' data-price='2000') 7
				.place.available(data-id='5192889' data-sid='121' data-source='d121' data-hsort='0' data-row='10' data-place='8' data-price='2000') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				.place.skip  
			.row
				.place(data-row='-1') 9
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.available(data-id='5192936' data-sid='121' data-source='d121' data-hsort='0' data-row='9' data-place='16' data-price='2000') 16
				.place.available(data-id='5192937' data-sid='121' data-source='d121' data-hsort='0' data-row='9' data-place='17' data-price='2000') 17
				.place.available(data-id='5192938' data-sid='121' data-source='d121' data-hsort='0' data-row='9' data-place='18' data-price='2000') 18
				.place.available(data-id='5192939' data-sid='121' data-source='d121' data-hsort='0' data-row='9' data-place='19' data-price='2000') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				.place.skip  
			.row
				.place(data-row='-1') 8
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				.place.available(data-id='5192947' data-sid='121' data-source='d121' data-hsort='0' data-row='8' data-place='9' data-price='2000') 9
				.place.available(data-id='5192948' data-sid='121' data-source='d121' data-hsort='0' data-row='8' data-place='10' data-price='2000') 10
				#11.place.booked(data-row='0') 11
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				.place.available(data-id='5192934' data-sid='121' data-source='d121' data-hsort='0' data-row='8' data-place='15' data-price='2000') 15
				.place.available(data-id='5192935' data-sid='121' data-source='d121' data-hsort='0' data-row='8' data-place='16' data-price='2000') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				.place.available(data-id='5192940' data-sid='121' data-source='d121' data-hsort='0' data-row='8' data-place='21' data-price='2000') 21
				#22.place.booked(data-row='0') 22
				.place.skip  
			.row
				.place(data-row='-1') 7
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				.place.available(data-id='5192930' data-sid='121' data-source='d121' data-hsort='0' data-row='7' data-place='14' data-price='2000') 14
				.place.available(data-id='5192933' data-sid='121' data-source='d121' data-hsort='0' data-row='7' data-place='15' data-price='2000') 15
				.place.available(data-id='5192931' data-sid='121' data-source='d121' data-hsort='0' data-row='7' data-place='16' data-price='2000') 16
				.place.available(data-id='5192932' data-sid='121' data-source='d121' data-hsort='0' data-row='7' data-place='17' data-price='2000') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				.place.skip  
			.row
				.place(data-row='-1') 6
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				.place.available(data-id='5192941' data-sid='121' data-source='d121' data-hsort='0' data-row='6' data-place='7' data-price='2000') 7
				.place.available(data-id='5192942' data-sid='121' data-source='d121' data-hsort='0' data-row='6' data-place='8' data-price='2000') 8
				.place.available(data-id='5192943' data-sid='121' data-source='d121' data-hsort='0' data-row='6' data-place='9' data-price='2000') 9
				.place.available(data-id='5192944' data-sid='121' data-source='d121' data-hsort='0' data-row='6' data-place='10' data-price='2000') 10
				.place.available(data-id='5192946' data-sid='121' data-source='d121' data-hsort='0' data-row='6' data-place='11' data-price='2000') 11
				.place.available(data-id='5192945' data-sid='121' data-source='d121' data-hsort='0' data-row='6' data-place='12' data-price='2000') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 5
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 4
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 3
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 2
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.row
				.place(data-row='-1') 1
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.skip  
				.place.skip  
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
				#29.place.booked(data-row='0') 29
				#30.place.booked(data-row='0') 30
				.place.skip  
			.field ПОЛЕ
