// B201
.purchase-sector
	.purchase-sector__title Сектор B201
	.purchase-sector__text Чтобы купить билет выберите места <br> и нажмите ОФОРМИТЬ ЗАКАЗ
	ul.purchase-sector__status
		li - Свободно
		li - Занято
		li - Выбрано
	.sector
		.content
			.row
				.place(data-row='-1') 20
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip
				.place