// C116
.purchase-sector
	.purchase-sector__title Сектор C116
	.purchase-sector__text Чтобы купить билет выберите места <br> и нажмите ОФОРМИТЬ ЗАКАЗ
	ul.purchase-sector__status
		li - Свободно
		li - Занято
		li - Выбрано
	.sector
		.content
			.row
				.place(data-row='-1') 27
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 26
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 25
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 24
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 23
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				.place.available(data-id='5194388' data-sid='116' data-source='c116' data-hsort='0' data-row='23' data-place='5' data-price='3000') 5
				.place.available(data-id='5194389' data-sid='116' data-source='c116' data-hsort='0' data-row='23' data-place='6' data-price='3000') 6
				.place.available(data-id='5194390' data-sid='116' data-source='c116' data-hsort='0' data-row='23' data-place='7' data-price='3000') 7
				.place.available(data-id='5194391' data-sid='116' data-source='c116' data-hsort='0' data-row='23' data-place='8' data-price='3000') 8
				.place.available(data-id='5194392' data-sid='116' data-source='c116' data-hsort='0' data-row='23' data-place='9' data-price='3000') 9
				.place.available(data-id='5194393' data-sid='116' data-source='c116' data-hsort='0' data-row='23' data-place='10' data-price='3000') 10
				.place.available(data-id='5194394' data-sid='116' data-source='c116' data-hsort='0' data-row='23' data-place='11' data-price='3000') 11
				.place.available(data-id='5194395' data-sid='116' data-source='c116' data-hsort='0' data-row='23' data-place='12' data-price='3000') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 22
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 21
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				.place.available(data-id='5194341' data-sid='116' data-source='c116' data-hsort='0' data-row='21' data-place='4' data-price='3000') 4
				.place.available(data-id='5194334' data-sid='116' data-source='c116' data-hsort='0' data-row='21' data-place='5' data-price='3000') 5
				.place.available(data-id='5194333' data-sid='116' data-source='c116' data-hsort='0' data-row='21' data-place='6' data-price='3000') 6
				.place.available(data-id='5194340' data-sid='116' data-source='c116' data-hsort='0' data-row='21' data-place='7' data-price='3000') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 20
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				.place.available(data-id='5194398' data-sid='116' data-source='c116' data-hsort='0' data-row='20' data-place='3' data-price='3000') 3
				.place.available(data-id='5194399' data-sid='116' data-source='c116' data-hsort='0' data-row='20' data-place='4' data-price='3000') 4
				.place.available(data-id='5194400' data-sid='116' data-source='c116' data-hsort='0' data-row='20' data-place='5' data-price='3000') 5
				.place.available(data-id='5194401' data-sid='116' data-source='c116' data-hsort='0' data-row='20' data-place='6' data-price='3000') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 19
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				.place.available(data-id='5194396' data-sid='116' data-source='c116' data-hsort='0' data-row='19' data-place='15' data-price='3000') 15
				.place.available(data-id='5194397' data-sid='116' data-source='c116' data-hsort='0' data-row='19' data-place='16' data-price='3000') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 18
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 17
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				.place.available(data-id='5194403' data-sid='116' data-source='c116' data-hsort='0' data-row='17' data-place='9' data-price='3000') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 16
				#1.place.booked(data-row='0') 1
				.place.available(data-id='5194342' data-sid='116' data-source='c116' data-hsort='0' data-row='16' data-place='2' data-price='3000') 2
				.place.available(data-id='5194337' data-sid='116' data-source='c116' data-hsort='0' data-row='16' data-place='3' data-price='3000') 3
				.place.available(data-id='5194338' data-sid='116' data-source='c116' data-hsort='0' data-row='16' data-place='4' data-price='3000') 4
				.place.available(data-id='5194339' data-sid='116' data-source='c116' data-hsort='0' data-row='16' data-place='5' data-price='3000') 5
				.place.available(data-id='5194335' data-sid='116' data-source='c116' data-hsort='0' data-row='16' data-place='6' data-price='3000') 6
				.place.available(data-id='5194336' data-sid='116' data-source='c116' data-hsort='0' data-row='16' data-place='7' data-price='3000') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				.place.available(data-id='5194387' data-sid='116' data-source='c116' data-hsort='0' data-row='16' data-place='13' data-price='3000') 13
				.place.available(data-id='5194386' data-sid='116' data-source='c116' data-hsort='0' data-row='16' data-place='14' data-price='3000') 14
				.place.available(data-id='5194385' data-sid='116' data-source='c116' data-hsort='0' data-row='16' data-place='15' data-price='3000') 15
				.place.available(data-id='5194384' data-sid='116' data-source='c116' data-hsort='0' data-row='16' data-place='16' data-price='3000') 16
				.place.available(data-id='5194383' data-sid='116' data-source='c116' data-hsort='0' data-row='16' data-place='17' data-price='3000') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 15
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				.place.available(data-id='5194379' data-sid='116' data-source='c116' data-hsort='0' data-row='15' data-place='3' data-price='3000') 3
				.place.available(data-id='5194380' data-sid='116' data-source='c116' data-hsort='0' data-row='15' data-place='4' data-price='3000') 4
				.place.available(data-id='5194381' data-sid='116' data-source='c116' data-hsort='0' data-row='15' data-place='5' data-price='3000') 5
				.place.available(data-id='5194382' data-sid='116' data-source='c116' data-hsort='0' data-row='15' data-place='6' data-price='3000') 6
				.place.available(data-id='5194343' data-sid='116' data-source='c116' data-hsort='0' data-row='15' data-place='7' data-price='3000') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 14
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				.place.available(data-id='5194344' data-sid='116' data-source='c116' data-hsort='0' data-row='14' data-place='12' data-price='3000') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 13
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				.place.available(data-id='5194351' data-sid='116' data-source='c116' data-hsort='0' data-row='13' data-place='10' data-price='3000') 10
				.place.available(data-id='5194352' data-sid='116' data-source='c116' data-hsort='0' data-row='13' data-place='11' data-price='3000') 11
				.place.available(data-id='5194353' data-sid='116' data-source='c116' data-hsort='0' data-row='13' data-place='12' data-price='3000') 12
				.place.available(data-id='5194354' data-sid='116' data-source='c116' data-hsort='0' data-row='13' data-place='13' data-price='3000') 13
				.place.available(data-id='5194355' data-sid='116' data-source='c116' data-hsort='0' data-row='13' data-place='14' data-price='3000') 14
				.place.available(data-id='5194356' data-sid='116' data-source='c116' data-hsort='0' data-row='13' data-place='15' data-price='3000') 15
				.place.available(data-id='5194357' data-sid='116' data-source='c116' data-hsort='0' data-row='13' data-place='16' data-price='3000') 16
				.place.available(data-id='5194358' data-sid='116' data-source='c116' data-hsort='0' data-row='13' data-place='17' data-price='3000') 17
				.place.available(data-id='5194359' data-sid='116' data-source='c116' data-hsort='0' data-row='13' data-place='18' data-price='3000') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 12
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
			.row
				.place(data-row='-1') 11
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				.place.available(data-id='5194402' data-sid='116' data-source='c116' data-hsort='0' data-row='11' data-place='15' data-price='3000') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
			.row
				.place(data-row='-1') 10
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				.place.available(data-id='5194350' data-sid='116' data-source='c116' data-hsort='0' data-row='10' data-place='6' data-price='3000') 6
				.place.available(data-id='5194349' data-sid='116' data-source='c116' data-hsort='0' data-row='10' data-place='7' data-price='3000') 7
				.place.available(data-id='5194348' data-sid='116' data-source='c116' data-hsort='0' data-row='10' data-place='8' data-price='3000') 8
				.place.available(data-id='5194347' data-sid='116' data-source='c116' data-hsort='0' data-row='10' data-place='9' data-price='3000') 9
				.place.available(data-id='5194345' data-sid='116' data-source='c116' data-hsort='0' data-row='10' data-place='10' data-price='3000') 10
				.place.available(data-id='5194346' data-sid='116' data-source='c116' data-hsort='0' data-row='10' data-place='11' data-price='3000') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
			.row
				.place(data-row='-1') 9
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				.place.available(data-id='5194365' data-sid='116' data-source='c116' data-hsort='0' data-row='9' data-place='5' data-price='3000') 5
				.place.available(data-id='5194364' data-sid='116' data-source='c116' data-hsort='0' data-row='9' data-place='6' data-price='3000') 6
				.place.available(data-id='5194366' data-sid='116' data-source='c116' data-hsort='0' data-row='9' data-place='7' data-price='3000') 7
				.place.available(data-id='5194367' data-sid='116' data-source='c116' data-hsort='0' data-row='9' data-place='8' data-price='3000') 8
				.place.available(data-id='5194369' data-sid='116' data-source='c116' data-hsort='0' data-row='9' data-place='9' data-price='3000') 9
				.place.available(data-id='5194368' data-sid='116' data-source='c116' data-hsort='0' data-row='9' data-place='10' data-price='3000') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
			.row
				.place(data-row='-1') 8
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				.place.available(data-id='5194360' data-sid='116' data-source='c116' data-hsort='0' data-row='8' data-place='3' data-price='3000') 3
				.place.available(data-id='5194361' data-sid='116' data-source='c116' data-hsort='0' data-row='8' data-place='4' data-price='3000') 4
				.place.available(data-id='5194362' data-sid='116' data-source='c116' data-hsort='0' data-row='8' data-place='5' data-price='3000') 5
				.place.available(data-id='5194363' data-sid='116' data-source='c116' data-hsort='0' data-row='8' data-place='6' data-price='3000') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
			.row
				.place(data-row='-1') 7
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				.place.available(data-id='5194376' data-sid='116' data-source='c116' data-hsort='0' data-row='7' data-place='14' data-price='3000') 14
				.place.available(data-id='5194377' data-sid='116' data-source='c116' data-hsort='0' data-row='7' data-place='15' data-price='3000') 15
				.place.available(data-id='5194378' data-sid='116' data-source='c116' data-hsort='0' data-row='7' data-place='16' data-price='3000') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
			.row
				.place(data-row='-1') 6
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 5
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				.place.available(data-id='5194373' data-sid='116' data-source='c116' data-hsort='0' data-row='5' data-place='12' data-price='3000') 12
				.place.available(data-id='5194372' data-sid='116' data-source='c116' data-hsort='0' data-row='5' data-place='13' data-price='3000') 13
				.place.available(data-id='5194371' data-sid='116' data-source='c116' data-hsort='0' data-row='5' data-place='14' data-price='3000') 14
				.place.available(data-id='5194370' data-sid='116' data-source='c116' data-hsort='0' data-row='5' data-place='15' data-price='3000') 15
				.place.available(data-id='5194375' data-sid='116' data-source='c116' data-hsort='0' data-row='5' data-place='16' data-price='3000') 16
				.place.available(data-id='5194374' data-sid='116' data-source='c116' data-hsort='0' data-row='5' data-place='17' data-price='3000') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 4
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 3
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 2
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.row
				.place(data-row='-1') 1
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
			.field ПОЛЕ
