// C216
.purchase-sector
	.purchase-sector__title Сектор C216
	.purchase-sector__text Чтобы купить билет выберите места <br> и нажмите ОФОРМИТЬ ЗАКАЗ
	ul.purchase-sector__status
		li - Свободно
		li - Занято
		li - Выбрано
	.sector
		.content
			.row
				.place(data-row='-1') 29
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				.place.skip  
				.place.skip  
				.place.skip  
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				.place.skip  
				.place.skip  
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				.place.skip  
				.place.skip  
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
			.row
				.place(data-row='-1') 28
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 27
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 26
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 25
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 24
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 23
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 22
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 21
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 20
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 19
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 18
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 17
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 16
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				.place.available(data-id='5193945' data-sid='216' data-source='c216' data-hsort='0' data-row='16' data-place='5' data-price='4000') 5
				.place.available(data-id='5193946' data-sid='216' data-source='c216' data-hsort='0' data-row='16' data-place='6' data-price='4000') 6
				.place.available(data-id='5193947' data-sid='216' data-source='c216' data-hsort='0' data-row='16' data-place='7' data-price='4000') 7
				.place.available(data-id='5193948' data-sid='216' data-source='c216' data-hsort='0' data-row='16' data-place='8' data-price='4000') 8
				.place.available(data-id='5193949' data-sid='216' data-source='c216' data-hsort='0' data-row='16' data-place='9' data-price='4000') 9
				.place.available(data-id='5193951' data-sid='216' data-source='c216' data-hsort='0' data-row='16' data-place='10' data-price='4000') 10
				.place.available(data-id='5193950' data-sid='216' data-source='c216' data-hsort='0' data-row='16' data-place='11' data-price='4000') 11
				.place.available(data-id='5193952' data-sid='216' data-source='c216' data-hsort='0' data-row='16' data-place='12' data-price='4000') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 15
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				.place.available(data-id='5193954' data-sid='216' data-source='c216' data-hsort='0' data-row='15' data-place='11' data-price='4000') 11
				.place.available(data-id='5193953' data-sid='216' data-source='c216' data-hsort='0' data-row='15' data-place='12' data-price='4000') 12
				.place.available(data-id='5193955' data-sid='216' data-source='c216' data-hsort='0' data-row='15' data-place='13' data-price='4000') 13
				.place.available(data-id='5193956' data-sid='216' data-source='c216' data-hsort='0' data-row='15' data-place='14' data-price='4000') 14
				.place.available(data-id='5193958' data-sid='216' data-source='c216' data-hsort='0' data-row='15' data-place='15' data-price='4000') 15
				.place.available(data-id='5193957' data-sid='216' data-source='c216' data-hsort='0' data-row='15' data-place='16' data-price='4000') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 14
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				.place.available(data-id='5193944' data-sid='216' data-source='c216' data-hsort='0' data-row='14' data-place='20' data-price='4000') 20
				.place.available(data-id='5193937' data-sid='216' data-source='c216' data-hsort='0' data-row='14' data-place='21' data-price='4000') 21
				.place.available(data-id='5193938' data-sid='216' data-source='c216' data-hsort='0' data-row='14' data-place='22' data-price='4000') 22
				.place.available(data-id='5193939' data-sid='216' data-source='c216' data-hsort='0' data-row='14' data-place='23' data-price='4000') 23
				.place.available(data-id='5193940' data-sid='216' data-source='c216' data-hsort='0' data-row='14' data-place='24' data-price='4000') 24
				.place.available(data-id='5193941' data-sid='216' data-source='c216' data-hsort='0' data-row='14' data-place='25' data-price='4000') 25
				.place.available(data-id='5193942' data-sid='216' data-source='c216' data-hsort='0' data-row='14' data-place='26' data-price='4000') 26
				.place.available(data-id='5193943' data-sid='216' data-source='c216' data-hsort='0' data-row='14' data-place='27' data-price='4000') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 13
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 12
				.place.available(data-id='5193924' data-sid='216' data-source='c216' data-hsort='0' data-row='12' data-place='1' data-price='4000') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				.place.available(data-id='5193934' data-sid='216' data-source='c216' data-hsort='0' data-row='12' data-place='7' data-price='4000') 7
				.place.available(data-id='5193936' data-sid='216' data-source='c216' data-hsort='0' data-row='12' data-place='8' data-price='4000') 8
				.place.available(data-id='5193935' data-sid='216' data-source='c216' data-hsort='0' data-row='12' data-place='9' data-price='4000') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				.place.available(data-id='5193911' data-sid='216' data-source='c216' data-hsort='0' data-row='12' data-place='15' data-price='4000') 15
				.place.available(data-id='5193917' data-sid='216' data-source='c216' data-hsort='0' data-row='12' data-place='16' data-price='4000') 16
				.place.available(data-id='5193918' data-sid='216' data-source='c216' data-hsort='0' data-row='12' data-place='17' data-price='4000') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				.place.available(data-id='5193959' data-sid='216' data-source='c216' data-hsort='0' data-row='12' data-place='23' data-price='4000') 23
				.place.available(data-id='5193960' data-sid='216' data-source='c216' data-hsort='0' data-row='12' data-place='24' data-price='4000') 24
				.place.available(data-id='5193961' data-sid='216' data-source='c216' data-hsort='0' data-row='12' data-place='25' data-price='4000') 25
				.place.available(data-id='5193962' data-sid='216' data-source='c216' data-hsort='0' data-row='12' data-place='26' data-price='4000') 26
				.place.available(data-id='5193963' data-sid='216' data-source='c216' data-hsort='0' data-row='12' data-place='27' data-price='4000') 27
				.place.available(data-id='5193964' data-sid='216' data-source='c216' data-hsort='0' data-row='12' data-place='28' data-price='4000') 28
			.row
				.place(data-row='-1') 11
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				.place.available(data-id='5193922' data-sid='216' data-source='c216' data-hsort='0' data-row='11' data-place='3' data-price='4000') 3
				.place.available(data-id='5193923' data-sid='216' data-source='c216' data-hsort='0' data-row='11' data-place='4' data-price='4000') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				.place.available(data-id='5193916' data-sid='216' data-source='c216' data-hsort='0' data-row='11' data-place='15' data-price='4000') 15
				.place.available(data-id='5193912' data-sid='216' data-source='c216' data-hsort='0' data-row='11' data-place='16' data-price='4000') 16
				.place.available(data-id='5193913' data-sid='216' data-source='c216' data-hsort='0' data-row='11' data-place='17' data-price='4000') 17
				.place.available(data-id='5193914' data-sid='216' data-source='c216' data-hsort='0' data-row='11' data-place='18' data-price='4000') 18
				.place.available(data-id='5193915' data-sid='216' data-source='c216' data-hsort='0' data-row='11' data-place='19' data-price='4000') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 10
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				.place.available(data-id='5193901' data-sid='216' data-source='c216' data-hsort='0' data-row='10' data-place='6' data-price='4000') 6
				.place.available(data-id='5193902' data-sid='216' data-source='c216' data-hsort='0' data-row='10' data-place='7' data-price='4000') 7
				.place.available(data-id='5193903' data-sid='216' data-source='c216' data-hsort='0' data-row='10' data-place='8' data-price='4000') 8
				.place.available(data-id='5193904' data-sid='216' data-source='c216' data-hsort='0' data-row='10' data-place='9' data-price='4000') 9
				.place.available(data-id='5193906' data-sid='216' data-source='c216' data-hsort='0' data-row='10' data-place='10' data-price='4000') 10
				.place.available(data-id='5193905' data-sid='216' data-source='c216' data-hsort='0' data-row='10' data-place='11' data-price='4000') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 9
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				#22.place.booked(data-row='0') 22
				#23.place.booked(data-row='0') 23
				#24.place.booked(data-row='0') 24
				#25.place.booked(data-row='0') 25
				#26.place.booked(data-row='0') 26
				#27.place.booked(data-row='0') 27
				#28.place.booked(data-row='0') 28
			.row
				.place(data-row='-1') 8
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				.place.available(data-id='5193910' data-sid='216' data-source='c216' data-hsort='0' data-row='8' data-place='9' data-price='4000') 9
				.place.available(data-id='5193909' data-sid='216' data-source='c216' data-hsort='0' data-row='8' data-place='10' data-price='4000') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				.place.available(data-id='5193895' data-sid='216' data-source='c216' data-hsort='0' data-row='8' data-place='16' data-price='4000') 16
				.place.available(data-id='5193896' data-sid='216' data-source='c216' data-hsort='0' data-row='8' data-place='17' data-price='4000') 17
				.place.available(data-id='5193897' data-sid='216' data-source='c216' data-hsort='0' data-row='8' data-place='18' data-price='4000') 18
				.place.available(data-id='5193900' data-sid='216' data-source='c216' data-hsort='0' data-row='8' data-place='19' data-price='4000') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 7
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				.place.available(data-id='5193907' data-sid='216' data-source='c216' data-hsort='0' data-row='7' data-place='9' data-price='4000') 9
				.place.available(data-id='5193908' data-sid='216' data-source='c216' data-hsort='0' data-row='7' data-place='10' data-price='4000') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				.place.available(data-id='5193898' data-sid='216' data-source='c216' data-hsort='0' data-row='7' data-place='19' data-price='4000') 19
				.place.available(data-id='5193899' data-sid='216' data-source='c216' data-hsort='0' data-row='7' data-place='20' data-price='4000') 20
				#21.place.booked(data-row='0') 21
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 6
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				.place.available(data-id='5193919' data-sid='216' data-source='c216' data-hsort='0' data-row='6' data-place='14' data-price='4000') 14
				.place.available(data-id='5193920' data-sid='216' data-source='c216' data-hsort='0' data-row='6' data-place='15' data-price='4000') 15
				.place.available(data-id='5193921' data-sid='216' data-source='c216' data-hsort='0' data-row='6' data-place='16' data-price='4000') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 5
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				.place.available(data-id='5193886' data-sid='216' data-source='c216' data-hsort='0' data-row='5' data-place='2' data-price='4000') 2
				.place.available(data-id='5193887' data-sid='216' data-source='c216' data-hsort='0' data-row='5' data-place='3' data-price='4000') 3
				.place.available(data-id='5193888' data-sid='216' data-source='c216' data-hsort='0' data-row='5' data-place='4' data-price='4000') 4
				.place.available(data-id='5193889' data-sid='216' data-source='c216' data-hsort='0' data-row='5' data-place='5' data-price='4000') 5
				.place.available(data-id='5193891' data-sid='216' data-source='c216' data-hsort='0' data-row='5' data-place='6' data-price='4000') 6
				.place.available(data-id='5193890' data-sid='216' data-source='c216' data-hsort='0' data-row='5' data-place='7' data-price='4000') 7
				.place.available(data-id='5193892' data-sid='216' data-source='c216' data-hsort='0' data-row='5' data-place='8' data-price='4000') 8
				.place.available(data-id='5193893' data-sid='216' data-source='c216' data-hsort='0' data-row='5' data-place='9' data-price='4000') 9
				.place.available(data-id='5193894' data-sid='216' data-source='c216' data-hsort='0' data-row='5' data-place='10' data-price='4000') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 4
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				.place.available(data-id='5193925' data-sid='216' data-source='c216' data-hsort='0' data-row='4' data-place='15' data-price='4000') 15
				.place.available(data-id='5193926' data-sid='216' data-source='c216' data-hsort='0' data-row='4' data-place='16' data-price='4000') 16
				.place.available(data-id='5193927' data-sid='216' data-source='c216' data-hsort='0' data-row='4' data-place='17' data-price='4000') 17
				.place.available(data-id='5193928' data-sid='216' data-source='c216' data-hsort='0' data-row='4' data-place='18' data-price='4000') 18
				.place.available(data-id='5193929' data-sid='216' data-source='c216' data-hsort='0' data-row='4' data-place='19' data-price='4000') 19
				.place.available(data-id='5193930' data-sid='216' data-source='c216' data-hsort='0' data-row='4' data-place='20' data-price='4000') 20
				#21.place.booked(data-row='0') 21
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 3
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				.place.available(data-id='5193931' data-sid='216' data-source='c216' data-hsort='0' data-row='3' data-place='10' data-price='4000') 10
				.place.available(data-id='5193932' data-sid='216' data-source='c216' data-hsort='0' data-row='3' data-place='11' data-price='4000') 11
				.place.available(data-id='5193933' data-sid='216' data-source='c216' data-hsort='0' data-row='3' data-place='12' data-price='4000') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 2
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.row
				.place(data-row='-1') 1
				.place.skip  
				.place.skip  
				.place.skip  
				#1.place.booked(data-row='0') 1
				#2.place.booked(data-row='0') 2
				#3.place.booked(data-row='0') 3
				#4.place.booked(data-row='0') 4
				#5.place.booked(data-row='0') 5
				#6.place.booked(data-row='0') 6
				#7.place.booked(data-row='0') 7
				#8.place.booked(data-row='0') 8
				#9.place.booked(data-row='0') 9
				#10.place.booked(data-row='0') 10
				#11.place.booked(data-row='0') 11
				#12.place.booked(data-row='0') 12
				#13.place.booked(data-row='0') 13
				#14.place.booked(data-row='0') 14
				#15.place.booked(data-row='0') 15
				#16.place.booked(data-row='0') 16
				#17.place.booked(data-row='0') 17
				#18.place.booked(data-row='0') 18
				#19.place.booked(data-row='0') 19
				#20.place.booked(data-row='0') 20
				#21.place.booked(data-row='0') 21
				.place.skip  
				.place.skip  
				.place.skip  
				.place.skip  
			.field ПОЛЕ