footer.footer
	.footer__top
		.footer__logo
			img(src='img/logo.png' alt='')
		.footer__for-what Консьерж-сервис по оказанию услуг бронирования и доставке билетов
		nav.footer__menu
			li
				a(href='#') расписание матчей
			li
				a(href='#') стадион
			li
				a(href='#') новости
			li
				a(href='#') Купить билет
		.footer__contacts
			a.footer__phone(href='tel:+70001270777')
				svg
					use(xlink:href='./svg/sprite.svg#phone')
				span +7 000 127 0 777
			.footer__cards
				.footer__cards-item
					img(src='images/payment/visa.png' alt='')
				.footer__cards-item
					img(src='images/payment/mastercard.png' alt='')
				.footer__cards-item
					img(src='images/payment/world.png' alt='')
	.footer__bottom
		nav.footer__nav
			li
				a(href='#') Способы оплаты
			li
				a(href='#') Политика конфиденциальности
			li
				a(href='#') Оферта
		.footer__copyright © 2020. Разработано в Origy