.advantages
	.container.advantages__container
		.advantages__top
			.advantages__title наши преимущества
			.advantages__buttons
				+button('купить билет', 'advantages__buy')
				+button('заказать услугу', 'button--white advantages__order')
		.advantages__wrapper
			.advantages-item
				include ../../img/svg/ticket.svg
				.advantages-item__title Официальные билеты
				.advantages-item__text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam.
			.advantages-item
				include ../../img/svg/money.svg
				.advantages-item__title Гарантия цены
				.advantages-item__text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.advantages-item
				include ../../img/svg/shield.svg
				.advantages-item__title VIP билеты
				.advantages-item__text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.advantages-item
				include ../../img/svg/parking.svg
				.advantages-item__title Парковка
				.advantages-item__text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.