.event
	.event__top
		.event__bg-top
			img(src='img/stripe-2.png' alt='')
			img(src='img/stripe-3.png' alt='')
		.event__more
			p Перейдите в раздел “Расписание матчей”, чтобы увидеть все события
			+button('перейти в раздел', 'button--white event__button')
	.event__main
		.event__bg
			img(src='images/event.jpg' alt='')
		.event__content
			img(src='img/stripe-4.png' alt='')
			.event__title фк спартак москва
			.event__text
				p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.