.first-screen
	img.stripe-2(src='img/stripe-7.png' alt='')
	img.stripe-3(src='img/stripe-6.png' alt='')
	.first-screen__bg
		img.stripe-1(src='img/stripe-5.png' alt='')
		.first-screen__bg-inner
			img(src='images/bg-first.jpg' alt='')
	.first-screen__content
		.container.first-screen__container
			.first-screen__title билеты на матчи спартака
			.first-screen__text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			+button('Купить билет', 'first-screen__button')