.news
	.container.news__container
		.news__top
			.news__title новости
			a.news__all(href='#')
				span Смотреть все новости
				svg
					use(xlink:href='./svg/sprite.svg#arrow-double')
		.flex.flex--3
			.flex-item
				.news-item
					.news-item__preview
						img(src='images/news/news-1.jpg' alt='')
					.news-item__content
						.news-item__title FIFA21  |  Реакция игроков “Спартака” на свои рейтинги
						.news-item__bottom
							.news-item__date
								svg
									use(xlink:href='./svg/sprite.svg#calendar')
								span 14 октября 2020
							+button('подробнее', 'news-item__button')
			.flex-item
				.news-item
					.news-item__preview
						img(src='images/news/news-1.jpg' alt='')
					.news-item__content
						.news-item__title FIFA21  |  Реакция игроков “Спартака” на свои рейтинги
						.news-item__bottom
							.news-item__date
								svg
									use(xlink:href='./svg/sprite.svg#calendar')
								span 14 октября 2020
							+button('подробнее', 'news-item__button')
			.flex-item
				.news-item
					.news-item__preview
						img(src='images/news/news-1.jpg' alt='')
					.news-item__content
						.news-item__title FIFA21  |  Реакция игроков “Спартака” на свои рейтинги
						.news-item__bottom
							.news-item__date
								svg
									use(xlink:href='./svg/sprite.svg#calendar')
								span 14 октября 2020
							+button('подробнее', 'news-item__button')