.payment
	img(src='img/stripe-1.png' alt='')
	.container.payment__container
		.payment__wrapper
			.payment__col
				.payment__title ОПЛАТА С ПОМОЩЬЮ БАНКОВСКОЙ КАРТЫ
				.payment__text Принимаем оплаты банковской картой и это безопасно. Для выбора оплаты товара с помощью банковской карты на соответствующей странице сайта необходимо нажать кнопку "Оплата банковской картой".
			.payment__col
				.payment__cards
					.payment__cards-item
						img(src='images/payment/visa.png' alt='')
					.payment__cards-item
						img(src='images/payment/mastercard.png' alt='')
					.payment__cards-item
						img(src='images/payment/world.png' alt='')