.payment-rule
	img(src='img/stripe-1.png' alt='')
	.container.payment-rule__container
		.payment-rule__title как купить билет на матч
		.flex.flex--3
			.flex-item
				.payment-item
					svg
						use(xlink:href='./svg/sprite.svg#ticket-white')
					.payment-item__title Выберите билет у нас на сайте
					.payment-item__text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam.
			.flex-item
				.payment-item
					svg
						use(xlink:href='./svg/sprite.svg#contact')
					.payment-item__title Заполните контактную форму
					.payment-item__text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam.
			.flex-item
				.payment-item
					svg
						use(xlink:href='./svg/sprite.svg#card')
					.payment-item__title Выберите способ оплаты
					.payment-item__text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam.