.purchase-detail__plan-container{
  padding-top: 120px;
  padding-bottom: 120px;
  @media (max-width: 929px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.plan{
  user-select: none;

  overflow: hidden;
  width: 100%;
  height: 100%;

  svg{
    position: relative;
    transition: transform 250ms linear, left 50ms linear, top 50ms linear;

    width: 100%;
    height: 100%;
    object-fit: contain;
    .st0{fill:#c4c4c4}
    .st1,.st2{fill:#d8d8d8; stroke:#919090; stroke-width:5}
    .st2{fill:none}
    .st3{fill:#3d3d3d}
    .st4{font-family: 'MicrosoftSansSerif'}
    .st5{font-size:4px}
    .st6{font-size:2px}
    .st7{font-size:2.1821px}
    .st8{font-size:2.1817px}
    .st9{font-size:2.1813px}
    .st10{font-size:2.1814px}
    .st11{font-size:2.1818px}
    .st12{font-size:2.1824px}
    .st13{font-size:2.1833px}
    .st14{font-size:2.1829px}
    .st15{font-size:2.1823px}
    .st16{font-size:4.0003px}
    .st17{font-size:2.1541px}
    .st18{font-size:2.154px}
    .st19{font-size:2.1542px}
    .st20{font-size:3.9998px}
    .st21{font-size:4.0002px}
    .st22{font-size:2.1534px}
    .st23{font-size:1.9999px}
    .st24{opacity:.41; fill:#c61000;stroke:#750000; stroke-miterlimit:10}
    .st27{font-size:4.363px}
    .st28{font-size:2.0137px}
    .st29{font-size:2.0135px}
    .st30{font-size:2.0136px}
    .st31{font-size:4.001px}
    .st32{font-size:3.9999px}
    .st33{font-size:2.2944px}
    .st34{font-size:2.2943px}
    .st35{font-size:2.0001px}
    .st36{font-size:4.0001px}
    .st37{font-size:4.0012px}
    .st38{font-size:2.0003px}
    .st39{font-size:4.0006px}
    .st42{font-size:1.9585px}


    path.st24{
      cursor: pointer;
      &[data-type='1']{
        fill: #E5173E;
        stroke: #E5173E;
      }
      &[data-type='2']{
        fill: #0A45C5;
        stroke: #0A45C5;
      }
      &[data-type='3']{
        fill: #FCC865;
        stroke: #FCC865;
      }
    }

    path.st24:hover{
      fill: #E5173E;
      stroke: #E5173E;
    }

    &.zoomed{
      circle.st0[data-active="true"]{
        cursor: pointer;
        fill: green;
        &:hover,&.selected{
          stroke: green;
        }
        &[data-type='1']{
          fill: #E5173E;
          &:hover,&.selected{
            stroke: #E5173E;
          }
        }
        &[data-type='2']{
          fill: #0A45C5;
          &:hover,&.selected{
            stroke: #0A45C5;
          }
        }
        &[data-type='3']{
          fill: #FCC865;
          &:hover,&.selected{
            stroke: #FCC865;
          }
        }
      }
    }
  }



  &-preloader{
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-block{
    position: relative;
    width: 100%;
    height: 861px;
    background: #F7F7F7;
    border: 1px solid #E5173E;
    box-sizing: border-box;
    @media (max-width: 929px) {
      height: 400px;
    }
    &.fullmode{
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 999;
    }

    &__price{
      @media (max-width: 929px) {
        top: 0;
      }
    }
  }
  &-overlay{
    height: 0;
    width: 100%;

    .btn-zoom{
      background: #ffffff;
      padding: 0;
      &+.btn-zoom{
        margin-top: -1px;
      }

      &:disabled{
        cursor: default;
        .btn-zoom__btn{
          border-color: gray;
          color: gray;
          cursor: default;
          background: #FFFFFF;
        }
      }
    }

    &__price{
      position: absolute;
      z-index: 10;
      pointer-events: none;
      user-select: none;
      left: 50%;
      top: 15px;
      transform: translateX(-50%);
      box-sizing: border-box;
      padding: 0 15px;
      background: #FFFFFF;
      box-shadow: 0px 0px 4px rgba(41, 41, 41, 0.13);
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      flex-wrap: wrap;

      @media (max-width: 929px) {
        top: -50px;
        width: 100%;
      }
    }

    &__zoom{
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 4%;
      top: 50%;
      transform: translateY(-50%);
    }

    &__full{
      position: absolute;
      left: 4%;
      bottom: 5%;
      .btn-zoom__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
          width: 70%;
          height: 70%;
          object-fit: contain;
        }
      }
    }
    &__quest{
      position: absolute;
      right: 4%;
      bottom: 5%;
      .btn-zoom__btn{
        line-height: 1;
      }
    }
  }
}


.price-type{
  display: flex;
  align-items: center;
  padding: 15px;
  &__color{
    display: block;
    flex-shrink: 0;
    width: 19px;
    height: 19px;
    margin-right: 12px;
  }
  &__text{
    font-weight: 500;
    font-size: 16px;
    color: #3D3D3D;
    white-space: nowrap;
  }
  &--1{
    .price-type__color{
      background: #E5173E;
    }
  }
  &--2{
    .price-type__color{
      background: #0A45C5;
    }
  }
  &--3{
    .price-type__color{
      background: #FCC865;
    }
  }
}




$circle-colors: #ea637d, #e73758, #e5173e, #b00b2a, #6b020f;

$circle-size: 20px;
$circle-margin: 7px;

.plan-preloader__circle {
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  margin: $circle-margin;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    opacity: 0.7;
    animation: scale 2s infinite
    cubic-bezier(0, 0, 0.49, 1.02);
  }
}

@for $i from 1 through 5 {
  .plan-preloader__circle-#{$i} {
    background-color: nth($circle-colors, $i);
    &:before {
      background-color: nth($circle-colors, $i);
      animation-delay: 200ms * $i;
    }
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}



.plan-info{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #232121;
  z-index: 950;
  padding: 20px 0;
  transition: transform 0.2s linear;
  transform: translateY(100%);
  &.active{
    transform: translateY(0);
  }
  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__clear{
    flex-shrink: 0;
    background: #FFFFFF;
    color: #E5173E;
    border: none;
    font-size: 11px;
    &:hover{
      background: #E5173E;
      color: #ffffff;
    }
  }
  &__submit{
    flex-shrink: 0;
  }
  &__data{
    display: flex;
    padding: 0 15px;
    justify-content: space-around;
    flex-grow: 1;
  }
  &__text{
    padding: 0 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.purchase-sector {
  &__title {
    font-size: 36px;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  &__text {
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
  }

  &__status {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    li {
      display: inline-flex;
      align-items: center;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 15px;

      + li {
        margin-left: 20px;
      }

      &::before {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        background-color: #e70b08;
        margin-right: 5px;
      }
      
      &:nth-child(2)::before {
        background-color: #dededf;
      }
      
      &:nth-child(3)::before {
        background-color: #039946;
      }
    }
  }

  .sector {
    white-space: nowrap;
    overflow-y: auto;
    max-width: 1360px;
    margin: 0 auto 50px;
  }

  .content {
    max-width: 1319px;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    font-size: 0;
    text-align: center;
  }

  .place {
    display: inline-block;
    min-width: 27px;
    min-height: 26px;
    margin: 1.5px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    text-align: center;

    &.skip {
      margin-top: -7px;
    }

    &.booked {
      background-color: #dededf;
      color: #7a8794;
      cursor: pointer;
    }

    &.available {
      background-color: #e70b08;
      color: #fff;
      cursor: pointer;
      
      &:hover {
        background-color: #c40a08;
      }
    }
  }

  .field {
    width: 100%;
    background-color: #2a9b4d;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 10px auto;
    padding: 5px 0;
  }
}